.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 16px 32px 0 black;
  transition: 0.3s;
  margin: 24px;
  background-color: antiquewhite;
  padding: 8px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 32px 64px 0 black;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.wrapper {
  background-color: lightgray;
  width: 100vw;
  height: 100%;
  padding: 12px;
}

button {
  background-color: orange;
}

#selector {
  background-color: white;
}
